<div class="jumbotron center">
  <h1>Welcome to PhotoPins!</h1>
  <p>
    <iframe src="https://player.vimeo.com/video/25503274?autoplay=1" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
  <p>Project by ShiKai Tseng<br />
  Film by Juriaan Booij<br />
  <br />
  &ldquo;PhotoGraphy&rdquo; is the creation of a process in which the environment, time and light react to each other and generate images on three-dimensional objects. The objects are coated with a &ldquo;light-sensitive&rdquo; layer, put in a black box with strategically placed holes, and exposed for 5 to 50 minutes depending on the brightness of the environment. It is a new way to capture a moment in time, no matter whether the image on the object is focused or losing focus &ndash; the object will carry the trace of its first moments of experience, its first exposure.</p>

  <% if user_signed_in? 
      
  %>
      
  <% else %>
      <p>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </p>
  <% end %>
</div>
