<div class="container">
  <div class="container-fluid">
    <br />
    <br />
    <br />
    <br />
    <p style="color: #CECECE; font-size: 12px; line-height: 175%;">
      <%= link_to "ActiveCampaign", "http://www.activecampaign.com/features/?_r=SJM7E8TM" %>
      Increase the conversion rate of your marketing and sales processes by upgrading to an intelligent, automated platform. 
      <br />

      <%= link_to "Aweber", "http://www.aweber.com/easy-email.htm?id=466796" %>
      Looking for affordable and easy to use email marketing and autoresponder tools? Click here to start your free email marketing trial with AWeber 
      <br />

      <%= link_to "GetResponse", "http://www.getresponse.com/index/boonsoh" %>
      Email marketing from GetResponse. Send email newsletters, campaigns, online surveys and follow-up autoresponders. Simple, easy interface. FREE sign up. 
      <br />

      <%= link_to "Eleven2", "http://www.eleven2.com/3645.html" %>
      SUPERCHARGED WEB HOSTING! Eleven2 is a leading provider of shared hosting, reseller hosting, managed vps and enterprise servers. This is what I use and it's amazingly simple and intuitive. 
    </p>
  </div>
</div>